* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
#hkoa{
  float: left;
  clear:both;
  margin:10px;
}

h1{
 font-family: 'Oswald', sans-serif;
 font-weight: 700;
}
p{
 font-family: 'Oswald', sans-serif;	
	
}
ul{
	    list-style: none;
		
}

.themovers {
  position: relative;
  right: 0;
  transition: right ease 0.5s;
}
.themovers:hover {
  right: -50px;
}
a{
	text-decoration: none;
	color:rgb(10,0,0)
}
	
